.work-process
  h2.work-process__title
    | Our Work Process
  p.work-process__text
    | Was years it seasons was there form he in in them together over that, third sixth gathered female creeping bearing behold years.
  .work-process__video
    video(width="100%" height="auto" poster="/images/poster.jpg")
      source(src="/images/mops.mp4")
    .work-process__video-btn

.work-directions
  .work-directions__item
    .work-directions__item-icon.work-directions__item-icon--diamond
    .work-directions__item-desc
      h3.description-title
        | ui / ux design
      p.description-text
        | Be set fourth land god darkness make it wherein own
  .work-directions__item
    .work-directions__item-icon.work-directions__item-icon--bow
    p.work-directions__item-desc
      h3.description-title
        | web development
      p.description-text
        | A she'd them bring void moving third she'd kind fill
  .work-directions__item
    .work-directions__item-icon.work-directions__item-icon--smartphone
    p.work-directions__item-desc
      h3.description-title
        | app / mobile
      p.description-text
        | Dominion man second spirit he,earth they're creeping
  .work-directions__item
    .work-directions__item-icon.work-directions__item-icon--joystick
    p.work-directions__item-desc
      h3.description-title
        | game design
      p.description-text
        | Morning his saying moveth it multiply appear life be
  .work-directions__item
    .work-directions__item-icon.work-directions__item-icon--plane
    p.work-directions__item-desc
      h3.description-title
        | SEO / marketing
      p.description-text
        | Give won't after land fill creeping meat you, may
  .work-directions__item
    .work-directions__item-icon.work-directions__item-icon--star
    p.work-directions__item-desc
      h3.description-title
        | photography
      p.description-text
        | Creepeth one seas cattle grass give moving saw give
  .work-directions__item
    .work-directions__item-icon.work-directions__item-icon--wizzard-stick
    p.work-directions__item-desc
      h3.description-title
        | graphic design
      p.description-text
        | Open, great whales air rule for, fourth life whales
  .work-directions__item
    .work-directions__item-icon.work-directions__item-icon--paint
    p.work-directions__item-desc
      h3.description-title
        | illustrations
      p.description-text
        | Whales likeness hath, man kind for them air two won't

include ../reviews/reviews
include ../companys/companys
