header.header
  nav.header-menu
    a(href="/").header-logo
    ul.header-menu__items
      li.header-menu__item
        a(href="/build/home-page.html") home
      li.header-menu__item
        a(href="/build/about.html") about
      li.header-menu__item
        a(href="#") work
      li.header-menu__item
        a(href="#") process
      li.header-menu__item
        a(href="#") services
      li.header-menu__item
        a(href="#") testimonials
      li.header-menu__item
        a(href="/build/contacts.html") contacts
    .header-burger
      span
      span
      span
  .header-content
    h1.header-title
      | We Design and Develop
    p.header-text
      | We are a new design studio based in USA. We have over 20 years of combined experience, and know a thing or two about designing websites and mobile apps.
    button.header-button
      | contact us
