.work-stats
  .work-stats__content
    img(src="../../images/case.png", alt="")
    .work-stats__block
      .work-stats__content-count
        | 548
      .work-stats__content-text
        | projects completed
  .work-stats__content
    img(src="../../images/clock.png", alt="")
    .work-stats__block
      .work-stats__content-count
        | 1465
      .work-stats__content-text
        | workiNG HOURS
  .work-stats__content
    img(src="../../images/star-w.png", alt="")
    .work-stats__block
      .work-stats__content-count
        | 612
      .work-stats__content-text
        | POSITIVE FEEDBACKS
  .work-stats__content
    img(src="../../images/heart.png", alt="")
    .work-stats__block
      .work-stats__content-count
        | 735
      .work-stats__content-text
        | HAPPY CLIENTS
