.companys
  .company
    img(src="images/company1.png", alt="img")
  .company
    img(src="images/company2.png", alt="img")
  .company
    img(src="images/company3.png", alt="img")
  .company
    img(src="images/company4.png", alt="img")
  .company
    img(src="images/company5.png", alt="img")
