section.about
  .about-content
    h2.about-title About Us
    p.about-text
      | Divide have don't man wherein air fourth. Own itself make have night won't make. A you under Seed appear which good give. Own give air without fowl moveth dry first heaven fruit, dominion she'd won't very all.
    img(src="images/signature.png", alt="").about-signature

  include ../skills/skills
