.reviews
  .swiper-container.reviews-swiper-container
    .swiper-wrapper
      .swiper-slide.reviews-swiper-slide
        .reviews-text
          | “1 Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.”
        .reviews-author
          | Michael Hopkins
      .swiper-slide.reviews-swiper-slide
        .reviews-text
          | “2 Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.”
        .reviews-author
          | Michael Hopkins
      .swiper-slide.reviews-swiper-slide
        .reviews-text
          | “3 Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.”
        .reviews-author
          | Michael Hopkins
      .swiper-slide.reviews-swiper-slide
        .reviews-text
          | “4 Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.”
        .reviews-author
          | Michael Hopkins
      .swiper-slide.reviews-swiper-slide
        .reviews-text
          | “5 Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.”
        .reviews-author
          | Michael Hopkins
    .swiper-pagination.reviews-dots



  //- .reviews-dots
  //-   .dot
  //-   .dot.dot--active
  //-   .dot
