.skills
  .skills-block.skills-block--l
    h2.skills-title
      | Professional Skills
    ul.skills-items
      li.skills-item
        p.skills-item__name
          | UI/UX Design
          span.skills-item__name-percent &nbsp; 75%
        .skills-item__progress
          .skills-item__progress-out
          div(data-value='75').skills-item__progress-inn
      li.skills-item
        p.skills-item__name
          | web development
          span.skills-item__name-percent &nbsp; 90%
        .skills-item__progress
          .skills-item__progress-out
          div(data-value='90').skills-item__progress-inn
      li.skills-item
        p.skills-item__name
          | marketing
          span.skills-item__name-percent &nbsp; 65%
        .skills-item__progress
          .skills-item__progress-out
          div(data-value='65').skills-item__progress-inn
  .skills-block.skills-block--r
    img(src="images/skills-bg.jpg", alt="").skills-img
