header.header.home-header
  nav.header-menu
    a(href="/").header-logo
    ul.header-menu__items.home-header__menu-items
      li.header-menu__item
        a(href="/build/home-page.html") home
      li.header-menu__item
        a(href="/build/about.html") about
      li.header-menu__item
        a(href="/build/contacts.html") contacts
    .header-burger
      span
      span
      span
