.about-me
  img(src="../../images/about-me.jpg", alt="")
  .about-me__block
    h2.about-me__title
      | About me
    .about-me__text
      p Given let waters air sea had you'll, may seed abundantly fish. Were, you'll earth forth winged above brought. Own darkness they're him can't fourth sea place have.
      p So the above May stars cattle fruitful face shall. Tree it, winged. Every signs male firmament us. Morning him.
    img(src="../../images/signature.png", alt="signature")
.ask
  h2.ask-title
    | Need a Project?
  p.ask-subtitle
    | Let us know what you're looking for in an agency. We'll take a look and see if this could be the start of something beautiful.
  button.ask-btn
    | let’s talk
