.banner
  img(src="../../images/about-banner.jpeg", alt="")
  .banner-overlay
    h1.banner-title
      | Amelia Woods
    p.banner-subtitle
      | I am a Graphic & Web Designer based in New York, specializing in User Interface Design and Development.
