.feedback
  .feedback-title
    | Need a Project?
  .feedback-subtitle
    | Let us know what you're looking for in an agency. We'll take a look and see if this could be the start of something beautiful.
  form(action="#" method='post').feedback-form
    .feedback-field.feedback-field__name
      input(type='text' placeholder=' ').feedback-field__input
      .feedback-placeholder
        | Your Name
    .feedback-field.feedback-field__email
      input(type='email' placeholder=' ').feedback-field__input
      .feedback-placeholder
        | Your Email
    .feedback-field.feedback-field__title
      input(type='email' placeholder=' ').feedback-field__input
      .feedback-placeholder
        | Your Title
    .feedback-field.feedback-field__textarea
      textarea(cols="30" placeholder=' ').feedback-field__input
      .feedback-placeholder
        | Your Comment

    button(type='submit').feedback-form__submit
      | send message
