footer.footer
  .footer-info
    .footer-info__title
      | Piroll Design, Inc.
    .footer-info__desc
      | © 2017 Piroll. All rights reserved. Designed by robirurk.
  .footer-contacts
    a(href="#").footer-contacts__email
      | hello@pirolltheme.com
    a(href="").footer-contacts__phone
      | +44 987 065 908
  .footer-menu
    .footer-menu--l
      ul
        li
          a(href="#")
            | Projects
        li
          a(href="#")
            | About
        li
          a(href="#")
            | Services
        li
          a(href="#")
            | Career
    .footer-menu--r
      ul
        li
          a(href="#")
            | News
        li
          a(href="#")
            | Events
        li
          a(href="#")
            | Contact
        li
          a(href="#")
            | Legals
  .footer-social
    ul
      li
        a(href="#")
          | Facebook
      li
        a(href="#")
          | Twitter
      li
        a(href="#")
          | Instagram
      li
        a(href="#")
          | Dribble
