.home-works
  h1.home-works__title
    | UI/UX & Graphic Designer
  p.home-works__subtitle
    | I am a Graphic & Web Designer based in New York, specializing in User Interface Design and Development.

.works
  .works-example
    img(src="images/w1.jpg", alt="image")
    .works-example__layer.home-works__example-layer
      .works-example__layer-title.home-works__example-title
        | Title
      .works-example__layer-text.home-works__example-text
        | projects completed projects completed
  .works-example
    img(src="images/w2.jpg", alt="image")
    .works-example__layer.home-works__example-layer
      .works-example__layer-title.home-works__example-title
        | Title
      .works-example__layer-text.home-works__example-text
        | projects completed projects completed
  .works-example
    img(src="images/w3.jpg", alt="image")
    .works-example__layer.home-works__example-layer
      .works-example__layer-title.home-works__example-title
        | Title
      .works-example__layer-text.home-works__example-text
        | projects completed projects completed
  .works-example
    img(src="images/w4.jpg", alt="image")
    .works-example__layer.home-works__example-layer
      .works-example__layer-title.home-works__example-title
        | Title
      .works-example__layer-text.home-works__example-text
        | projects completed projects completed
  .works-example
    img(src="images/w3.jpg", alt="image")
    .works-example__layer.home-works__example-layer
      .works-example__layer-title.home-works__example-title
        | Title
      .works-example__layer-text.home-works__example-text
        | projects completed projects completed
  .works-example
    img(src="images/w4.jpg", alt="image")
    .works-example__layer.home-works__example-layer
      .works-example__layer-title.home-works__example-title
        | Title
      .works-example__layer-text.home-works__example-text
        | projects completed projects completed
  .works-example
    img(src="images/w1.jpg", alt="image")
    .works-example__layer.home-works__example-layer
      .works-example__layer-title.home-works__example-title
        | Title
      .works-example__layer-text.home-works__example-text
        | projects completed projects completed
  .works-example
    img(src="images/w2.jpg", alt="image")
    .works-example__layer.home-works__example-layer
      .works-example__layer-title.home-works__example-title
        | Title
      .works-example__layer-text.home-works__example-text
        | projects completed projects completed
  .works-example
    img(src="images/w1.jpg", alt="image")
    .works-example__layer.home-works__example-layer
      .works-example__layer-title.home-works__example-title
        | Title
      .works-example__layer-text.home-works__example-text
        | projects completed projects completed
  .works-example
    img(src="images/w2.jpg", alt="image")
    .works-example__layer.home-works__example-layer
      .works-example__layer-title.home-works__example-title
        | Title
      .works-example__layer-text.home-works__example-text
        | projects completed projects completed
  .works-example
    img(src="images/w3.jpg", alt="image")
    .works-example__layer.home-works__example-layer
      .works-example__layer-title.home-works__example-title
        | Title
      .works-example__layer-text.home-works__example-text
        | projects completed projects completed
  .works-example
    img(src="images/w4.jpg", alt="image")
    .works-example__layer.home-works__example-layer
      .works-example__layer-title.home-works__example-title
        | Title
      .works-example__layer-text.home-works__example-text
        | projects completed projects completed
